.img1, .img2, .img3, .img4, .img5, .img6 {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    margin-top: 30px;
}
.flex {
    display: flex;
}
.icon {
    width: 44px;
    height: 44px;
    display: flex;
    margin-top: 33px;
}
p {
    font-family: "Open Sans";
    font-size: 13px;
    color: gray;
}
p::first-line {
    color: #18171c;

}
